PROJECT_NAME=marketpulse-de
ENV=local

POSTGRES_HOST=mp_postgres
POSTGRES_PORT=5432
POSTGRES_DB=marketpulse
POSTGRES_USER=marketpulse
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_URI=postgresql+psycopg2://marketpulse:CHANGE_ME_STRONG_PASSWORD@mp_postgres:5432/marketpulse

DB_SCHEMA_RAW=raw
DB_SCHEMA_STAGING=analytics_staging
DB_SCHEMA_MARTS=analytics_marts

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=False

AIRFLOW_UID=50000
AIRFLOW_GID=0

COINGECKO_API_BASE=https://api.coingecko.com/api/v3
COINGECKO_API_KEY=
COINGECKO_VS_CURRENCY=usd
COINGECKO_PER_PAGE=100
COINGECKO_PAGE=1

DBT_PROFILES_DIR=/opt/dbt
DBT_TARGET=dev
DBT_THREADS=4

MB_DB_TYPE=postgres
MB_DB_HOST=mp_postgres
MB_DB_PORT=5432
MB_DB_DBNAME=metabase
MB_DB_USER=marketpulse
MB_DB_PASS=CHANGE_ME_STRONG_PASSWORD
