# Enforce LF for containers
* text=auto

# Force LF for Linux-based files
*.sh text eol=lf
*.py text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.env text eol=lf
Dockerfile text eol=lf

# Windows specific files (if ever needed)
*.ps1 text eol=crlf
